.popover-danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

.popover-danger .arrow:after {
  border-bottom-color: #f8d7da !important;
}